<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CGtools</display-name>
	<filter>
		<description>
		</description>
		<display-name>UserLoginFilter</display-name>
		<filter-name>UserLoginFilter</filter-name>
		<filter-class>com.cg.filter.UserLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>PriceAnalysisAction</display-name>
		<servlet-name>PriceAnalysisAction</servlet-name>
		<servlet-class>
		com.cg.action.PriceAnalysisAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JDPriceAndStockServlet</display-name>
		<servlet-name>JDPriceAndStockServlet</servlet-name>
		<servlet-class>
		com.cg.action.JDPriceAndStockServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JDSkuManageAction</display-name>
		<servlet-name>JDSkuManageAction</servlet-name>
		<servlet-class>
		com.cg.action.JDSkuManageAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImportJDSkusFromExcel</display-name>
		<servlet-name>ImportJDSkusFromExcel</servlet-name>
		<servlet-class>
		com.cg.action.ImportJDSkusFromExcel</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ErrorMessageAction</display-name>
		<servlet-name>ErrorMessageAction</servlet-name>
		<servlet-class>
		com.cg.action.ErrorMessageAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoteInfoAction</display-name>
		<servlet-name>RemoteInfoAction</servlet-name>
		<servlet-class>
		com.cg.action.RemoteInfoAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserAction</display-name>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>
		com.cg.action.UserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceAnalysisAction</servlet-name>
		<url-pattern>/PriceAnalysisAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JDPriceAndStockServlet</servlet-name>
		<url-pattern>/JDPriceAndStockServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JDSkuManageAction</servlet-name>
		<url-pattern>/JDSkuManageAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportJDSkusFromExcel</servlet-name>
		<url-pattern>/ImportJDSkusFromExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorMessageAction</servlet-name>
		<url-pattern>/ErrorMessageAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoteInfoAction</servlet-name>
		<url-pattern>/RemoteInfoAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/UserAction</url-pattern>
	</servlet-mapping>
	<jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/includes/prelude.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
